@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #00aaff;
  --background-color: #121212;
  --text-color: #ffffff;
  --card-background: #1e1e1e;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
